version: "3"
services:
  unifi:
    container_name: unifi
    image: jacobalberty/unifi:latest
    environment:
      - TZ='America/New_York'
      - RUNAS_UID0=false
    ports:
      - 8080:8080
      - 8443:8443
      - 8843:8843
      - 8880:8880
      - 6789:6789
      - 3478:3478/udp
      - 10001:10001/udp
    volumes:
      - /srv/docker/unifi:/unifi
    network_mode: "host"
